<div class="modal-header">
  <h3 class="modal-title">
    {{ modalCtrl.channel.title }}
    <span class="stb-number">CH {{ modalCtrl.channel.setTopBoxNumber }}</span>
  </h3>
  <button class="btn btn-default" ng-click="modalCtrl.close()">Close</button>
</div>
<div class="modal-body">
  <div class="meta">
    <p>Language: <strong>{{ modalCtrl.channel.language }}</strong></p>
    <p>Category: <strong>{{ modalCtrl.channel.category }}</strong></p>
    <p class="channel-description">{{ modalCtrl.channel.description }}</p>
  </div>
  <div class="schedule">
    <h4>Upcoming Programs</h4>
    <div class="spinner" ng-if="modalCtrl.isEventsLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="list-group channel-events" ng-if="!modalCtrl.isEventsLoading">
      <a href="#" class="list-group-item channel-event" ng-repeat="event in modalCtrl.channelEvents | orderBy: 'airingTime'">
        <h4 class="list-group-item-heading">
          <span>{{ event.programTitle }}</span>
          <small>{{ event.airingTime }}</small>
        </h4>
        <p class="list-group-item-text">{{ event.description }}</p>
      </a>
    </div>
  </div>
</div>
