<div class="modal-header">
  <h4 class="modal-title">
    Sign In
  </h4>

  <button class="btn btn-default" ng-click="modalCtrl.close()">Close</button>
</div>
<div class="modal-body">
  <p>To be able to mark channels as favorite, we need you to sign in so that we can keep your preferences
  saved. This way you can always see your previously marked favorite channels in your upcoming visits. We do not access
  and use any personal information from your <strong>facebook</strong> account against privacy policy.</p>
</div>
<div class="modal-footer">
  <a class="btn btn-block btn-social btn-twitter" ng-click="modalCtrl.fbLogin()">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>
</div>

