@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

.vertical-line-2-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vertical-line-3-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

span, p, h1, h2, h3, h4, h5, a, div {
  font-family: 'Open Sans', sans-serif;
}
