/* channel tiles */
$color-no-img-bg: #34495E;

.channel-tiles-wrapper {
  height: 100%;

  .filter-header {
    display: flex;
    align-items: center;

    .filter-block,  .pagination-block{
      display: flex;
      align-items: center;
    }

    .filter-block {
      flex-grow: 2;
    }

    .pagination-block {
      flex-grow: 1;

      .pagination-pos-label {
        font-weight: 400;
        color: $color-hoki;
        font-size: 12px;
        margin-right: 12px;

        strong {
          color: $color-lynch;
          font-weight: 600;
        }
      }
    }
  }

  .spinner {
    margin: 20px auto;
    width: 80px;
    > div {
      background: $color-secondary;
    }
  }
}

.channel-tiles {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .channel-tile-item {
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 0 18px;
    margin: 20px 0 50px;
    position: relative;

    .tile {
      height: 100%;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
      transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
      transition-delay: .1s;
      overflow: hidden;
      border-radius: 4px;
      transform: translateZ(0);

      &:hover {
        box-shadow: rgba(45, 45, 45, 0.03) 0px 2px 2px, rgba(49, 49, 49, 0.03) 0px 4px 4px, rgba(42, 42, 42, 0.03) 0px 8px 8px, rgba(32, 32, 32, 0.03) 0px 16px 16px, rgba(49, 49, 49, 0.03) 0px 32px 32px, rgba(35, 35, 35, 0.03) 0px 64px 64px;
        transform: translate(0, -4px);
        z-index: 999;
      }

      a.channel-link {
        text-decoration: none;
        display: block;
        height: 100%;
        color: #fff;
      }

      div.featured-image-container {
        background-color: transparent;
        position: absolute;
        overflow: hidden;
        height: 52%;
        width: 100%;
        left: 0px;
        top: 0px;

        div.featured-image-overlay {
          background: rgba($color-no-img-bg, 0.1);
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
        }

        img.featured-image {
          height: 100%;
          width: 100%;
          padding: 10px;
          object-position: center;
          object-fit: contain;
          border: 0;
          background: $color-no-img-bg;
        }
      }

      div.channel-info {
        background: #fff;
        position: absolute;
        top: 52%;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;

        .content {
          @extend .vertical-line-3-clamp;
          box-sizing: border-box;
          padding: 0 15px;
          margin: 5% 0;
          text-shadow: none;
          overflow: hidden;
          white-space: normal;
        }

        h3.title {
          @extend .content;
          font-size: 13px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: .3px;
          margin-top: 15px;
          margin-bottom: 5px;
          text-transform: capitalize;
        }

        p.body {
          @extend .content;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color: #778D99;
          margin-top: 0;
          margin-bottom: 8px;
        }
      }

      div.action-bar {
        position: absolute;
        bottom: 0;
        font-size: 10px;
        color: #999;
        width: 100%;
        height: 45px;
        border-radius: 0 0 4px 4px;
        border-top: 1px solid #EAF1F6;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        span.action {
          cursor: pointer;
          display: block;
          width: 23px;
          height: 23px;
          background-color: #edf2f6;
          color: #B2C0C8;
          line-height: 22px;
          text-align: center;
          font-size: 12px;
          border-radius: 50%;
          transition: all 0.35s;
          border: 1px solid transparent;
          box-sizing: border-box;
          margin-top: 2px;

          &:hover {
            color: #778D99;
            border-color: #E2EAEE;
          }

          &.selected {
            background-color: #3FC380;
            color: #fff;
            border-color: #3FC380;
          }
        }
      }
    }
  }
}

// responsive overrides

@media (min-width: 1024px) {
  .channel-tiles {
    .channel-tile-item {
      width: 282px;
      height: 300px;
    }
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .channel-tiles {
    .channel-tile-item {
      width: 326px;
      height: 340px;

      .tile {
        div.featured-image-container {
          height: 50%;
        }

        div.channel-info {
          top: 50%;
        }
      }
    }
  }
}

@media (max-width: 679px) {
  .channel-tiles {
    .channel-tile-item {
      width: 100%;
      height: 300px;

      .tile {
        div.action-bar {
          height: 60px;

          span.action {
            width: 32px;
            height: 32px;
            line-height: 31px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

