<div class="channel-tiles-wrapper">
  <div class="filter-header">
    <div class="filter-block">
      <label for="sort-by" class="custom-label">Sort by</label>
      <dropdown id="sort-by" items="sortByOptions" label-key="'label'" value-key="'value'" on-item-select="sortBy(selectedItem)"></dropdown>
    </div>
  </div>

  <div class="spinner" ng-if="isLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <ul class="channel-tiles" ng-if="!isLoading">
    <li class="channel-tile-item" ng-click="onChannelClick({channel: channel})" ng-repeat="channel in channels | orderBy: sortChannelsBy">
      <div class="tile">
        <span class="channel-stb-no">CH {{ channel.setTopBoxNumber }}</span>
        <a class="channel-link" href="#">
          <div class="featured-image-container">
            <img class="featured-image" ng-src="{{ channel.logo }}"/>
          </div>
          <div class="channel-info">
            <h3 class="title">{{ channel.title }}</h3>
            <p class="body" ng-if="channel.description">{{ channel.description }}</p>
          </div>
        </a>
        <div class="action-bar">
          <span class="action" ng-class="{'selected': channel.isFavorite}"
                ng-click="toggleFavoriteFor(channel, $event)">
            <i class="glyphicon glyphicon-heart"></i>
          </span>
        </div>
      </div>
    </li>
    <li class="alert warning" ng-if="channels.length === 0">Sorry, didn't find any channels for you!</li>
  </ul>
</div>

