div.modal-body {
  padding: 20px 40px;
  font-size: 12px;
  font-weight: 300;

  div.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img.logo {
      width: 200px;
      height: 100px;
      background: $color-lynch;
      margin-right: 20px;
      object-fit: contain;
    }
  }

  .channel-description {
    font-size: 13px;
    color: $color-lynch;
  }

  .list-group-item-heading, .list-group-item-text {
    font-weight: 400;
  }

  .list-group-item-heading {
    font-size: 15px;
    display: flex;
    max-width: 100%;

    span {
      flex: 92% 2;
    }

    small {
      flex-grow: 1;
    }
  }

  .list-group-item-text {
    color: $color-lynch;
    max-width: 85%;
  }
}

div.modal-header {
  display: flex;
  .modal-title {
    flex-grow: 2;
  }
  span.stb-number {
    flex-grow: 1;
    color: $color-lynch;
  }
}
